.card-details__top {
  height: 45%;
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: all 0.2s ease;
  .card-details__profile {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
