.home {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", sans-serif;
  &__slide__btn {
    top: 50%;
    right: 2%;
    width: 2rem;
    height: 3rem;
    border: none;
    position: absolute;
    background-color: transparent;
  }
  #home__img__slide {
  }

  @include respond(tab-port) {
    width: 599px;
    align-items: center;
  }
  @include respond(small-desktop) {
    width: 599px;
    align-items: center;
    height: 677px;
  }

  @include respond(big-desktop) {
    width: 26%;
    align-items: center;
    height: 80%;
  }
  &__splide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
  }
  &__content {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    font-size: 1.5rem;
    background-position: center;

    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: all 0.2s ease;
  }
  &__top {
    position: fixed;
    top: 0;

    align-items: center;
    padding: 0 1rem;
    display: flex;
    height: 6rem;
    width: 100%;
    width: 100%;
    color: $color-white;
    #profile-checkbox {
      display: none;
    }
    &__profile__wrap {
      width: 2.5rem;
      height: 2.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 4%;
      border: 1px solid #ffffff5e;
      border-radius: 13px;
      cursor: pointer;
    }

    &__profile {
      font-size: 2.2rem;
      color: $primary-silver-dark;
    }
    &__logo__wrap {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__logo {
      font-size: 2.2rem;
      font-weight: 600;
    }
    .none {
      width: 10%;
      height: 100%;
    }
  }

  &__main {
    height: 22%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 68%;

    @include respond(big-desktop) {
      top: 0;
    }
    &__img {
      z-index: -1000;
      width: 100%;
      height: 100%;
      background-image: url(/public/images/userImage/user-1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 1rem;
      @include respond(big-desktop) {
        border-radius: 0.5rem;
      }
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: end;
    }
    &__button__wrap {
      height: 40%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        background-color: rgb(67 69 70 / 60%);
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        cursor: pointer;
        border: none;
        margin: 0 0.5rem;

        @include respond(smartphones-port) {
          width: 3.5rem;
        }
        @include respond(smartphones-land) {
          width: 3.5rem;
        }
        @include respond(big-desktop) {
          width: 2.5rem;
          height: 2.5rem;
        }

        i {
          @include respond(big-desktop) {
            font-size: 1.2rem;
          }

          font-size: 1.5rem;
        }
      }
      .home__main__button--save {
        background-color: rgb(67 69 70 / 60%);
        border-radius: 50%;
        width: 4.2rem;
        height: 4.2rem;

        border: none;
        margin: 0 2rem;
      }
      @include respond(big-desktop) {
        height: 50%;
      }
    }
    &__information {
      width: 75%;
      border-radius: 11px;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;

      &__name {
        height: 35%;
        color: $color-white;

        font-size: 2.3rem;
        display: flex;
        font-weight: 600;
        align-items: center;
      }

      &__desc {
        height: 25%;
        width: 92%;
        color: $color-white;
        font-size: 0.8rem;
        &__wrap {
          height: 50%;
          width: 100%;
          display: flex;
          align-items: center;
          line-height: 1;

          i {
            margin: 0 0.3rem;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  &__bottom {
    top: 90%;
    height: 6rem;
    position: absolute;
    width: 100%;
    border-top: 1px solid rgb(238, 240, 244);
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    text-align: center;
    align-items: center;
    font-size: 2rem;
    @include respond(smartphones-land) {
      border-top: none;
      position: static;
      height: 6rem;
    }
    @include respond(smartphones-port) {
      border-top: none;
      position: static;
      height: 6rem;
    }
    @include respond(big-desktop) {
      height: 18%;
      justify-content: center;
      flex-direction: column;
      display: flex;
    }
    &__information {
      @include respond(big-desktop) {
        height: 50%;

        width: 98%;
        border-radius: 11px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__name {
          height: 20%;
          color: $color-black;
          font-size: 1.2rem;
          display: flex;
          align-items: center;
        }

        &__desc {
          height: 40%;
          width: 92%;
          color: $color-black;
          font-size: 0.6rem;

          &__wrap {
            height: 50%;
            width: 100%;
            display: flex;
            align-items: center;

            i {
              margin: 0 0.3rem;
              font-size: 1rem;
            }
          }
        }
      }
    }

    a {
      color: $color-black;
      width: 25%;
    }
  }
}

#Splide {
  position: absolute;
  width: 100%;
  height: 100%;
}

#SplideSlide {
  position: absolute;
  width: 100%;
  height: 100%;
}

#Splide-track {
  height: 100%;
}

.splide__arrow {
  background-color: transparent;
  color: white;
  font-size: 1rem;
}

.splide__arrow svg {
  fill: white;
}

.splide__arrow--prev {
  display: none;
  left: 0.5rem;
}
.splide__arrow--next {
  right: 0.5rem;
}
