.setting {
  height: 90%;
  top: 10%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-size: 1rem;
  color: $color-white;
  background-color: $color-black;
  align-self: start;
  background-image: linear-gradient(
    359deg,
    rgba(26, 25, 25, 0.829) 40%,

    rgba(0, 0, 0, 0.144) 100%
  );

  &__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;

    &__profile__wrap {
      width: 100%;
      height: auto;
      .setting__content__profile__img {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
      }
      .setting__content__profile__name {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0.6rem 0;
      }
    }

    &__row {
      width: 100%;
      height: auto;
    }
    &__column {
      padding: 1.5rem;

      width: 100%;
      height: 3rem;
      font-size: 1.1rem;
      justify-content: flex-start;
      //   background-color: rgb(25, 30, 36);
      //   border-bottom: 1px solid rgba($secondary-silver, 0.3);
      a {
        text-decoration: none;
        color: $color-white;
      }

      span {
        margin-left: 0.5rem;
      }
    }

    &__column__title {
      padding: 1.5rem;

      width: 100%;
      height: 3rem;
      font-size: 1.1rem;
      color: $primary-silver-dark;
      justify-content: flex-start;
    }
  }
}
