.card-details__bottom {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: start;
  padding: 0 2rem;
  align-items: start;
  background: white;
  z-index: 3000;
  position: absolute;
  bottom: 0;

  flex-direction: column;

  &__info {
    margin-top: 2.3rem;
    width: 100%;
    color: black;
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-main__name {
      font-size: 2rem;
      display: flex;
      font-weight: 700;
    }

    &-main__age {
      margin-left: 0.6rem;
      font-size: 1.4rem;
      display: flex;
      align-items: flex-end;
      font-weight: 500;
    }

    .card-details__dot {
      position: absolute;
      top: 3%;
      right: 3%;
    }
    #popup-dot {
      display: none;
    }

    #popup-dot:checked + .card-details__popup-box {
      display: flex;
    }

    .card-details__popup-box {
      position: absolute;
      top: 10%;
      right: 3%;
      width: 6rem;
      height: 5rem;
      font-size: 1rem;
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: white;
      border-radius: 8px;
      -webkit-box-shadow: rgb(214, 214, 214) 0px 4px 9px;
      -moz-box-shadow: rgb(214, 214, 214) 0px 4px 9px;
      box-shadow: rgb(214, 214, 214) 0px 4px 9px;

      button {
        border: none;
        font-size: 0.9rem;
        background-color: white;
        width: 100%;
        height: 50%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
  }
  &__info-sub__major {
    margin-top: 0.5rem;
    font-size: 1rem;
    width: 100%;
  }
  &__info-sub {
    margin-top: 2rem;
    padding-top: 1.3rem;
    border-top: 1.3px solid rgb(128, 113, 252);

    width: 100%;
    height: auto;

    &__introduction {
      color: black;
      font-size: 1rem;
      margin: 0.3rem 0;
    }
  }

  &__buttons {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
  }
}
