.popup {
  height: 100%;

  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  top: 0;
  z-index: 10000 !important;
  @include respond(smartphones-land) {
    justify-content: flex-end;

    font-size: 1.5rem;
    background-position: center;
    background-image: linear-gradient(
        359deg,
        rgba(0, 0, 0, 0.829) 40%,

        rgba(0, 0, 0, 0.144) 100%
      ),
      url(/public/images/userImage/user-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @include respond(smartphones-port) {
    justify-content: flex-end;

    font-size: 1.5rem;
    background-position: center;
    background-image: linear-gradient(
        359deg,
        rgba(0, 0, 0, 0.829) 40%,

        rgba(0, 0, 0, 0.144) 100%
      ),
      url(/public/images/userImage/user-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__back {
    position: absolute;
    top: 3%;
    left: 5%;
    height: 3rem;
    height: 2.5rem;
    display: flex;
    border-radius: 11px;
    width: 2.5rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(67 69 70 / 55%);
    border: none;
    cursor: pointer;
  }
  &__main {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;

    &__img {
      z-index: -1000;
      width: 100%;
      height: 100%;
      background-image: url(/public/images/userImage/user-1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 1rem;

      background-position: center;
      display: flex;
      justify-content: center;
      align-items: end;
    }

    &__information {
      width: 83%;
      border-radius: 11px;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;

      &__name {
        color: $color-white;

        font-size: 2.3rem;
        display: flex;
        font-weight: 600;
        align-items: center;
      }

      &__desc {
        width: 92%;
        color: white;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        &__wrap {
          height: 50%;
          width: 100%;
          display: flex;
          align-items: center;
          line-height: 1;

          i {
            margin: 0 0.3rem;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
