$female-color: rgb(230, 107, 144);
$male-color: rgb(101, 174, 223);
$secondary-silver: rgb(238, 240, 244);
$primary-silver: rgb(141 145 157);
$primary-silver-dark: rgb(128, 132, 143);
$primary-silver-2: rgb(196, 196, 196);
$hover-silver: rgb(41, 41, 41);
$color-black: black;
$color-white: white;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
//Margin
.margin-top-10px {
  margin-top: 1rem;
}
//Font-szie

$default-font-size: 1.6rem;

//border-radius
$border-radius-small: 3px;

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    //standard version of the clearfix

    //this clearfix is the clear property.
    //this would clear both floats, so float left and float right so that
    //it's gonna work no matter if we use flat left or float right

    clear: both;
  }
}
//display flex
.display-flex {
  display: flex;
  align-items: center;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: $color-white;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: $color-white;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: $color-white;
  }
}
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@-moz-keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: $color-white;
  }
}

@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: $color-white;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-direction-col {
  flex-direction: column;
}
.popup-width {
  width: 100% !important;
  @include respond(tab-port) {
    width: 599px !important;
  }
  @include respond(tab-land) {
    width: 599px !important;
  }
  @include respond(small-desktop) {
    width: 599px !important;
  }

  @include respond(big-desktop) {
    width: 599px !important;
  }
}
