.card {
  height: 76dvh;
  flex-direction: column;
  width: auto;
  position: relative;
  aspect-ratio: 9/16;
  display: flex;
  justify-content: center;
  align-items: center;

  // @media screen and (min-width: 320px) and (max-width: 370px) {
  //   height: 90%;
  // }
}
